.auth__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 358px;
}

@media screen and (max-width: 560px) {
    .auth__title {
        font-size: 20px;
        line-height: 24px;
    }
}