.popup__container_edit{
  width: 430px;
  min-height: 330px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 560px) {
  .popup__container_edit {
    width: 282px;
    min-height: 322px;
  }
}
